.outer-box {
    width: 100%;
    justify-content: center;
}

.note-heading {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.main-box {
    width: 95%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.items-box {
    width: 500px;
    height: 300px;
    justify-content: center;
    min-width: 400px;
    max-width: 25%;
    border: 3px solid rgb(15 108 106);
    margin: 25px 0;
    border-radius: 50px;
    flex-direction: column;
    background-image: url("images/doted-back.png");
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.items-box:hover {
    box-shadow: 0 0 25px rgb(15 108 106);
    transform: scale(1.03);
}

.notes-logo {
    width: 200px;
    display: block;
}
.download-button {
    display: inline-block;
    padding: 13px 20px;
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgb(18, 127, 125);
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.download-button:hover {
    background-color: rgb(36, 104, 149);
}

.items-box h3{
    font-size: 25px;
    color: #18537a;
    background-color: white;
}
.py{
    width: 162px;
}

@media screen and (max-width: 900px){
    .items-box{
        min-width: 320px;
        font-size: 20px;
    }
    .items-box h3{
        font-size: 21px;
    }
    .download-button {
        padding: 10px 15px;
        margin-left: 3px;
        font-size: 17px;
    }
    .preview{
        display: none;
    }
    
          
}
@media screen and (max-width: 700px){
    .items-box{
        min-width: 250px;
        font-size: 17px;
    }
    .items-box h3{
        font-size: 18px;
    }
    .download-button {
        padding: 5px 8px;
        margin-left: 2px;
        font-size: 15px;
    }
    
          
}
@media screen and (max-width: 540px){
    .items-box{
        min-width: 350px;
        height: 330px;
        font-size: 20px;
    }
    .items-box h3{
        font-size: 25px;
    }
    .download-button {
        padding: 10px 15px;
        margin-left: 5px;
        font-size: 18px;
    }
    
          
}
@media screen and (max-width: 380px){
    .items-box{
        min-width: 300px;
        height: 330px;
        font-size: 17px;
        text-align: center;
    }
    .items-box h3{
        font-size: 23px;
    }
    .download-button {
        padding: 8px 12px;
        margin-left: 3px;
        font-size: 16px;
    }
    
          
}

